{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "quotes": [2, "single"],
    "class-methods-use-this": 0,
    "max-len": ["error", { "code": 120 }]
  },
  "extends": ["airbnb-base", "airbnb-typescript/base"],
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
